---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
    font: 300 16px/1.8 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #fcfffc;
    word-break: keep-all;
    color: #444444;
}

a,
a:visited {
    color: #419210;
}

blockquote {
    color: #555555;
    border-left-color: #c1e2b8;
    background-color: #e0ffeb;
    padding: 0.5em 1em;
}

.site-header {
    border-top-width: 0;
    padding-top: 1em;
}

.footer-col-wrapper {
    color: #555555;
}

.post-meta {
    color: #555555;
}

.post-list {
    h3 {
        line-height: 1.4;
    }
}

article.post {
    .toc > ol {
        margin-left: 0;
        margin-bottom: 2em;
        padding-left: 2.2em;

        li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        & {
            list-style-type: none;
            counter-reset: item;
        }
        ol {
            list-style-type: none;
            counter-reset: item;
            margin-left: 40px;
        }
        li:before {
            content: counters(item, ".") ".";
            counter-increment: item;
            display: inline-block;
            width: 2em;
            margin-left: -2em;
        }

        li li:before {
            width: 2.5em;
            margin-left: -2.5em;
        }
    }

    .post-title {
        font-size: 36px;
        line-height: 1.4;
    }

    .post-content {
        h1 {
            font-size: 36px;
            line-height: 1.4;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 22px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 1.5em;
            line-height: 1.4;
            font-weight: 500;

            &:first-child {
                margin-top: 1em;
            }
        }

        blockquote {
            font-size: inherit;
            letter-spacing: inherit;
            font-style: inherit;
        }

        b, strong {
            font-weight: 500;
            border-bottom: 1px solid #bdffe0;
            box-shadow: inset 0 -0.5em 0 #bdffe0;
        }
    }
}

// Observable

.ob-block {
  margin: 1em 0;
}
