---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% include toc.html html=content class='toc' ordered=true %}
    {{ content }}

    <a href="https://tumblbug.com/visdeum" style="
        display: block;
        margin: 3em 0 2em;
        padding: 2em 1em;
        line-height: 40px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #DFD;
        text-align: center;
    ">
       <img src="/assets/visdeum.png" style="width: 40px; margin-right: 0.5em;">
       비거니즘 잡지 &lt;비스듬&gt;을 후원해주세요!
    </a>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
